#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.8em;
}

#toc li {
    padding: 0;
    margin: 0;
}

#toc a {
   /* color: #fff;*/
    text-decoration: none;
    display: block;
}

#toc .toc-h2 {
    padding-left: 10px;
}

#toc .toc-h3 {
    padding-left: 20px;
}

#toc .toc-active {
    background: #D5EAFF;
}