language: ruby
rvm:
 - 2.3.0
script:
 - git config --global user.email "kyzminov@gmail.com"
 - git config --global user.name "Ievgen Kuzminov"
 - git config --global push.default simple
 - git clone -b leanpub https://${GH_TOKEN}@github.com/iJackUA/rwdtow.git rwdtow-leanpub --depth=1
 - (cd rwdtow-leanpub; bundle install --deployment)
 - (cd rwdtow-leanpub; ./cli convert)
 - (cd rwdtow-leanpub; git add ./manuscript/*)
 - (cd rwdtow-leanpub; git commit -m  "#$TRAVIS_BUILD_NUMBER, Sync $(date)")
 - (cd rwdtow-leanpub; git push)
git:
  depth: 1
branches:
  only:
   - gh-pages
env:
  global:
    secure: hiHDT1klSXhtZ5U9wM+s4t645HjskL25Q73NjpfPOslnLKPqnFXuXaxuSnTh93/DEgt7Vue9So/QhCMPLvHlWGWeYHzX0Eic9tbFCb4XQiNZa1RW5Kuo+EIOCR4N5pQQ2JG52sgcEuoyojcmRyEe4nojPSuCAMFSjyqwD+UZP//L5xfFJOG7EFcMhoD+1JgOQ6JCsYi7VVmaec++bcwPudCMtbbgbDyRJVCEknhGc+1Rc/Bs7NxKDbcKLqTnrOjh0hfcul0XBDO5umghWUvuubK+11LUFSMYWgI6z6349mRuL2BtuImTN0IW0iyh9hs7AcLq2pYZzTp+2UT0lfY91BfCbnkL/MUsFtKodt3dqu7EkH+ktn9jW/f/rXGiOxBoYTb6AxvmLegCRdc/89a/MUzC6ffhLZOq9RJdZqGfXTudrfK/CpS+H+S5kBwhyD03XqmDcobBivTJdLDDRXu/y9A3ucYOMGUs+9YX9rTWTGh7SMx4r+8ib03pCbMLqCvpMGTGayB3IbNe0eEaU4rFsRL6MQ4YaauGgwMSdoW2s48Z0/HuFeL5tEXzbcPTQRDeLVBulVkinXTnucvnXWnNhnSxK1nUrnVlPLAGXc7CsLta4prvbrj+Hy5F2J1jO/eGbW9NHgDz6JzZ+b5fDSSurRUivjhqCRjlOuoJTYGr9g8=
